 main{
    width: 1400px;
 }
.dibujo{
    background: rgb(238, 242, 167);
    height: 200px;
    text-align: center;
   
}
.palabra{
    background: blue;
    text-align: center;
    color: #002462;
    height: 200px;
    

}
.botones{

    background: yellowgreen;
    height: 200px;
    text-align: center;
    
}
.btnC{

    margin-top: 60px;
    background-color: rgb(111, 255, 0);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    
}
.btnT{

    margin-top: 60px;
    background-color: rgb(111, 255, 0);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    
}

